[submodule "depends/gtest"]
        path = depends/gtest
        url = https://github.com/degatedev/googletest.git
[submodule "depends/ate-pairing"]
        path = depends/ate-pairing
        url = https://github.com/degatedev/ate-pairing.git
[submodule "depends/xbyak"]
        path = depends/xbyak
        url = https://github.com/degatedev/xbyak.git
[submodule "depends/libsnark-supercop"]
        path = depends/libsnark-supercop
        url = https://github.com/degatedev/libsnark-supercop.git
[submodule "depends/libfqfft"]
        path = depends/libfqfft
        url = https://github.com/degatedev/libfqfft.git
        branch = master_degate
[submodule "depends/libff"]
        path = depends/libff
        url = https://github.com/degatedev/libff.git
        branch = opt
